@import "tailwindcss";

@theme {
  --color-primary-dark: #011023;
  --color-primary-blue: #052558;
  --color-secondary-blue: #527FB0;
  --color-accent-blue: #7C9FC9;
  --color-light-blue: #C2E8FF;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-primary-dark);
  background-color: #fafbfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow: hidden;
  height: 100vh;
  overscroll-behavior: none;
  background-color: #fafbfc;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: #fafbfc;
}

/* Fix for Webkit Autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #011023 !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* hide-scrollbar utility */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}